<div class="container">
<h1> tweets go here </h1>

<!-- form is binding to a new instance of tweet -->
<!-- generate html code specifically for this tweet-->
<%= simple_form_for @tweet do |f| %>
  <%= f.input :content%>

  <%= f.button :submit %>
  <!-- to modify the button -->
  <!--
  <%= f.button :submit, value: "continue", class: "btn btn-large btn-success" %>-->
<% end %>

<!-- news feed -->
<h1> news feed </h1>
<% @testing.each do |test| %>

	<li class="list-group-item">

		<%= test.content %> | <%= test.user.email %>
	</li>

<% end %>
</div>