<!DOCTYPE html>
<html>
<head>
  <title>Htwitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
  #logo {
  	margin-top: 10px;
  	width:30px;
  	height:30px;
  }

  html, body {
    height: 100%;
  }

  .site-footer {
    padding-top: 5%;
    height: 150px; 
    margin-top: 5%;
    color: white;
    text-align: center;
  }
  .site-footer {
    background: #5EA9DD;
  }

  
  </style>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    	<img src="https://g.twimg.com/Twitter_logo_blue.png" id = "logo">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to "iLab Twitter", root_path, class: 'navbar-brand'%>
      <!--
      <a class="navbar-brand" href="#"> iLab Twitter</a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	<% if user_signed_in? %>
        <li class="active">
        	<!-- use new_tweet_path --> 
        	<%= nav_link "New Tweet", new_tweet_path %>
        	<!--<a href="#">Tweets <span class="sr-only">(current)</span></a> -->
        </li>
        <li>
        	<%= nav_link "News Feed", tweets_path %>
        </li>

        <% if current_user.profile %>
       		 <li>
        	<!-- there's one profile page for every person so we need to specify the id--> 
        	
        	<%= nav_link "My Profile", profile_path(current_user.profile) %>

        	</li>
        <% end %>
        <% end %>
        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li> 
          </ul>
        </li> -->
      </ul>
      <!-- form stuff we won't use -->
      <!--
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
        
        <li>
        	<!-- right button depending on if signed in -->
        	<% if user_signed_in? %>
        		<!-- needs a method delete --> 
        		<!-- put has to do with updating -->

        		<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
        	<% else %>
        		<%= link_to "Sign Up", new_user_session_path %>
        	<% end %> 
        </li>
        <!--
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">


	<!-- way for the user to sign up -->

	<% flash.each do |key, value| %>
		<!--insert the ruby key, and the success we specified with flash[:success]. the key here is "success" and value is "you have created a Tweet"-->
		<div class="alert alert-<%=key%>">
			<%= value %>
		</div>
	<% end %>

	<%= yield %>
</div>



</body>



<footer class="site-footer">
    <ul class="unstyled list-layout list-inline" itemscope="" itemtype="http://schema.org/Organization">
      <link itemprop="url" href="https://www.airbnb.com">
        <li>
          <a href="https://www.facebook.com/airbnb" class="link-contrast footer-icon-container" itemprop="sameAs" target="_blank">
            <i class="icon footer-icon icon-facebook"></i>
</a>        </li>
        <li>
          <a href="https://plus.google.com/+airbnb" class="link-contrast footer-icon-container" itemprop="sameAs" target="_blank">
            <i class="icon footer-icon icon-google-plus"></i>
</a>        </li>

        <li>
          <a href="https://twitter.com/airbnb" class="link-contrast footer-icon-container" itemprop="sameAs" target="_blank">
            <i class="icon footer-icon icon-twitter"></i>
</a>        </li>

      <li>
        <a href="https://www.linkedin.com/company/airbnb" class="link-contrast footer-icon-container" itemprop="sameAs" target="_blank">
          <i class="icon footer-icon icon-linkedin"></i>
</a>      </li>

        <li>
          <a href="https://www.pinterest.com/airbnb/" class="link-contrast footer-icon-container" itemprop="sameAs" target="_blank">
            <i class="icon footer-icon icon-pinterest"></i>
</a>        </li>
        <li>
          <a href="http://www.youtube.com/airbnb" class="link-contrast footer-icon-container" itemprop="sameAs" target="_blank">
            <i class="icon footer-icon icon-youtube"></i>
</a>        </li>
        <li>
          <a href="https://www.instagram.com/airbnb" class="link-contrast footer-icon-container" itemprop="sameAs" target="_blank">
            <i class="icon footer-icon icon-instagram"></i>
</a>        </li>
    </ul>
     © Belinda Zeng
</footer> 

</html>
